<div class="page row-full">
  <div class="row">

    <div class="text small-12 medium-12 column">
     <i class="icon-angle-left left"></i>&nbsp;
      <%= link_to t("debates.show.back_link"), "/more_information", class: 'left back' %>

    <h1>¿Que es "Escaño Abierto: tu voz en el parlamento" y como puedo participar?</h1>

    <p>Hemos entrado en las instituciones para ponerlas al servicio de la gente, para abrirlas a la ciudadanía y hacerlas transparentes y participativas. Vamos cederos algunas de nuestras preguntas en los plenos y comisiones. A la espera de hacer posible que nos permitan los reglamentos que seais vosotros y vosotras las presenteis en los plenos y comisiones.</p>

    <p>¿Cómo lo haremos? Es muy fácil, a través de un nuevo espacio "La Gente Pregunta" en PlazaPodemos2.0 para que todos y todas dejeis vuestra pregunta y voteis las que más os gusten. Desde el grupo de Podemos en el parlamento o comisión, recogeremos las más votadas y las realizaran nuestros portavoces en sede parlamentaria en vuestro nombre.</p>

    <p>Empezamos con Esperanza Aguirre, presidenta de la Comunidad de Madrid durante una década en donde ha reinado el despilfarro y la corrupción. Es por ello, por lo que ha sido llamada a declarar a la Comisión de Corrupción de la Asamblea de Madrid este próximo viernes 12 de febrero.</p>

    <p>¿Tienes alguna pregunta para ella? Nuestros/as diputados/as María Espinosa, Miguel Ongil, Ramón Espinar y Marco Candela, le formularan dos de las cinco más votadas para que rinda cuentas sobre su nefasta gestión.</p>


    </div>
  </div>
</div>
