/*---------- VARIABLES ---------------*/
/*---------- MIXINS ---------------*/
/*---------- CLASES ---------------*/
/* line 17, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
header {
  background: none; }
  /* line 19, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  header .locale {
    display: none; }
  /* line 20, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  header .search-form {
    padding-top: 0; }
  /* line 21, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  header .more-info {
    text-decoration: none; }
    /* line 23, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    header .more-info:hover {
      opacity: inherit;
      color: #612d62; }

/* line 28, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.home-plaza-podemos .contain-to-grid {
  background: none; }

/* line 29, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.home-plaza-podemos section[role="main"] {
  padding: 2.5em 0 1em; }

/* line 30, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.home-plaza-podemos .top-bar-section ul {
  width: auto; }

/* line 31, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.home-plaza-podemos .top-bar-section ul li > a.button {
  background: #612d62;
  border: 0; }

/* line 32, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.home-plaza-podemos .top-bar-section ul li > a.button:hover {
  background: #78bbb1 !important; }

/* line 36, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.contain-to-grid {
  background: white;
  border-bottom: 1px solid #ddd; }

/* line 37, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.top-bar .name a img {
  height: auto;
  margin-top: 1.25rem;
  width: auto; }

/* line 40, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
header .search-form .postfix, .button,
.top-links {
  background: #612d62; }

/* line 41, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.top-bar-section ul li > a.button {
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #fff;
  border-radius: 0.1875rem;
  line-height: 0.9375rem;
  padding-left: 0.9375rem;
  text-align: center; }
  /* line 49, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .top-bar-section ul li > a.button:hover {
    background: none !important; }

/* line 51, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.tag-cloud h3, .footer {
  border-color: #612d62; }

/* line 53, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.search-form .button.postfix,
button:hover, button:focus, .button:hover, .button:focus {
  background: #78bbb1; }

/* line 54, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.search-form .button.postfix:hover {
  background: #612d62; }

/* line 55, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.top-bar-section ul li {
  margin-left: 1rem; }

/* line 57, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.subnavigation {
  min-height: 0; }
  /* line 59, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .subnavigation a {
    line-height: 1rem; }
    /* line 61, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .subnavigation a:hover {
      color: #612d62;
      border-bottom: 2px solid #612d62; }
    /* line 62, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .subnavigation a.active {
      border-bottom-color: #612d62;
      color: #612d62;
      line-height: 1rem; }

/* line 66, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.subnavigation-container {
  min-height: 85px;
  padding: 1.5rem 0; }

/* line 68, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.wrapper-home {
  background: image-url("home-plaza.jpg") no-repeat;
  background-size: cover;
  padding: 1rem 0; }

/* line 70, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.contain-to-grid {
  background: image-url("cabecera-popular.jpg") no-repeat; }

/* line 72, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.button {
  padding: 0.75rem 1.5rem; }

/* line 73, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.button.radius {
  border-radius: 15px; }

/* line 74, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.button.warning {
  background-color: #612d62;
  border: 0; }

/* line 75, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
button.warning:hover, button.warning:focus, .button.warning:hover, .button.warning:focus {
  background: #78bbb1; }

/* line 77, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.top-links a:hover {
  color: #78bbb1;
  text-decoration: none; }

/* line 78, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.top-bar-section ul li > a {
  color: white !important; }

/* line 79, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
h3, .page .more-information ul a {
  color: #612d62 !important; }

/* line 80, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.page .more-information ul a:hover {
  color: #78bbb1 !important; }

/* line 82, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.footer {
  margin-top: 1rem; }

/* line 84, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.top-bar-section ul li > a.button {
  color: white !important; }

/* line 86, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
form input[type]:not([type=submit]):not([type=file]):not([type=checkbox]),
.search-form .button.postfix {
  margin-bottom: 0; }

/* line 88, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.proposal, .proposal-show {
  margin-bottom: 1rem;
  margin-top: 0.5rem; }
  /* line 90, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .proposal .panel, .proposal-show .panel {
    box-shadow: none;
    min-height: 0 !important;
    padding: 0; }
    /* line 92, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .proposal .panel .proposal-content, .proposal-show .panel .proposal-content {
      padding: 1rem; }
      /* line 11, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
      .proposal .panel .proposal-content h3 a:hover, .proposal-show .panel .proposal-content h3 a:hover {
        color: #78bbb1; }
    /* line 93, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .proposal .panel .icon-proposals, .proposal-show .panel .icon-proposals {
      left: 6.5rem;
      top: 1rem; }
  /* line 95, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .proposal .supports, .proposal-show .supports {
    margin: 0; }
    /* line 97, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .proposal .supports:after, .proposal-show .supports:after {
      content: none; }
    /* line 98, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .proposal .supports .progress .meter, .proposal-show .supports .progress .meter {
      color: #B37EB4; }
    /* line 99, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .proposal .supports .supported, .proposal-show .supports .supported {
      color: #333; }
    /* line 100, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .proposal .supports .total-supports, .proposal-show .supports .total-supports {
      font-weight: bold;
      color: #333; }

/* line 104, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.enquiry, .enquiry-show {
  margin-bottom: 1rem;
  margin-top: 0.5rem; }
  /* line 106, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .enquiry .panel, .enquiry-show .panel {
    box-shadow: none;
    min-height: 0 !important;
    padding: 0; }
    /* line 108, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .enquiry .panel .enquiry-content, .enquiry-show .panel .enquiry-content {
      padding: 1rem; }
      /* line 11, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
      .enquiry .panel .enquiry-content h3 a:hover, .enquiry-show .panel .enquiry-content h3 a:hover {
        color: #78bbb1; }
    /* line 109, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .enquiry .panel .icon-enquiries, .enquiry-show .panel .icon-enquiries {
      left: 6.5rem;
      top: 1rem; }
  /* line 111, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .enquiry .supports, .enquiry-show .supports {
    margin: 0; }
    /* line 113, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .enquiry .supports:after, .enquiry-show .supports:after {
      content: none; }
    /* line 114, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .enquiry .supports .progress .meter, .enquiry-show .supports .progress .meter {
      color: #B37EB4; }
    /* line 115, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .enquiry .supports .supported, .enquiry-show .supports .supported {
      color: #333; }
    /* line 116, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .enquiry .supports .total-supports, .enquiry-show .supports .total-supports {
      font-weight: bold;
      color: #333; }

/* line 120, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.debate {
  margin-bottom: 1rem;
  margin-top: 0.5rem; }
  /* line 122, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .debate .panel {
    box-shadow: none;
    min-height: 0 !important;
    padding: 0; }
    /* line 124, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .debate .panel .debate-content {
      padding: 1rem; }
      /* line 11, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
      .debate .panel .debate-content h3 a:hover {
        color: #78bbb1; }
    /* line 125, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .debate .panel .icon-debates {
      left: 5.2rem;
      top: 1rem; }
  /* line 127, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .debate .votes {
    background: #ddd;
    border-color: #ddd;
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin: 0; }
    /* line 130, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .debate .votes:after {
      content: none; }
    /* line 131, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .debate .votes .icon-like, .debate .votes .icon-unlike {
      background: #B37EB4;
      border: 0;
      border-radius: 5px; }
    /* line 132, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .debate .votes .like span, .debate .votes .debate .votes .unlike span, .debate .votes .total-votes {
      color: #333;
      font-weight: bold; }

/* line 136, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
law-show .votes, .medida-show .votes, .debate-show .votes {
  background: #ddd; }
  /* line 138, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  law-show .votes .icon-like, law-show .votes .icon-unlike, .medida-show .votes .icon-like, .medida-show .votes .icon-unlike, .debate-show .votes .icon-like, .debate-show .votes .icon-unlike {
    background: #B37EB4;
    border: 0;
    border-radius: 5px; }
  /* line 139, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  law-show .votes .total-votes, .medida-show .votes .total-votes, .debate-show .votes .total-votes {
    color: #333;
    font-weight: bold; }
  /* line 140, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  law-show .votes .like span, law-show .votes .unlike-span, .medida-show .votes .like span, .medida-show .votes .unlike-span, .debate-show .votes .like span, .debate-show .votes .unlike-span {
    color: #333;
    font-weight: bold; }

/* line 143, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.medida {
  margin-bottom: 1rem;
  margin-top: 0.5rem; }
  /* line 145, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .medida .panel {
    box-shadow: none;
    min-height: 0 !important;
    padding: 0; }
    /* line 147, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .medida .panel .medida-content {
      padding: 1rem; }
      /* line 11, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
      .medida .panel .medida-content h3 a:hover {
        color: #78bbb1; }
    /* line 148, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .medida .panel .icon-medidas {
      left: 5.2rem;
      top: 1rem; }
  /* line 150, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .medida .votes {
    background: #ddd;
    border-color: #ddd;
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin: 0; }
    /* line 156, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .medida .votes:after {
      content: none; }
    /* line 157, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .medida .votes .icon-like, .medida .votes .icon-unlike {
      background: #B37EB4;
      border: 0;
      border-radius: 5px; }
    /* line 158, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .medida .votes .like span, .medida .votes .medida .votes .unlike span, .medida .votes .total-votes {
      color: #333;
      font-weight: bold; }

/* line 162, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
#medidas .vota-participa a {
  color: #78bbb1; }
  /* line 164, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  #medidas .vota-participa a:hover {
    color: #612d62; }

/* line 167, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.law {
  margin-bottom: 1rem;
  margin-top: 0.5rem; }
  /* line 169, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .law .panel {
    box-shadow: none;
    min-height: 0 !important;
    padding: 0; }
    /* line 171, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .law .panel .law-content {
      padding: 1rem; }
      /* line 11, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
      .law .panel .law-content h3 a:hover {
        color: #78bbb1; }
    /* line 172, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .law .panel .icon-laws {
      left: 5.2rem;
      top: 1rem; }
  /* line 174, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .law .votes {
    background: #ddd;
    border-color: #ddd;
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin: 0; }
    /* line 180, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .law .votes:after {
      content: none; }
    /* line 181, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .law .votes .icon-like, .law .votes .icon-unlike {
      background: #B37EB4;
      border: 0;
      border-radius: 5px; }
    /* line 182, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .law .votes .like span, .law .votes .law .votes .unlike span, .law .votes .total-votes {
      color: #333;
      font-weight: bold; }

/* line 186, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
#laws .vota-participa a {
  color: #78bbb1; }
  /* line 188, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  #laws .vota-participa a:hover {
    color: #612d62; }

/* line 207, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.proposal .panel .label-proposal,
.proposal .panel .icon-proposals,
.proposal-featured .panel .proposal-info,
.proposal .panel .proposal-info,
.enquiry .panel .label-enquiry,
.enquiry .panel .icon-enquiries,
.enquiry-featured .panel .enquiry-info,
.enquiry .panel .enquiry-info,
.debate .panel .label-debate,
.debate .panel .icon-debates,
.debate .panel .debate-info,
.debate .panel .debate-info a,
.medida .panel .label-medida,
.medida .panel .icon-medidas,
.medida .panel .medida-info,
.medida .panel .medida-info a {
  color: #B37EB4; }

/* line 212, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.law .panel .label-law,
.law .panel .icon-laws,
.law .panel .law-info,
.law .panel .law-info a {
  color: #B37EB4; }

/* line 219, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.proposal-featured .panel .proposal-info .author,
.proposal .panel .proposal-info .author,
.enquiry-featured .panel .enquiry-info .author,
.enquiry .panel .enquiry-info .author,
.debate .panel .debate-info .author,
.medida .panel .medida-info .author {
  color: #999; }

/* line 220, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.law .panel .law-info .author {
  color: #999; }

/* line 222, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.proposal .supports, .proposal-featured .supports, .proposal-show .supports {
  background: #ddd;
  border-color: #ddd;
  padding-bottom: 2rem;
  padding-top: 2rem; }

/* line 224, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.proposal .supports .button-support, .proposal-featured .supports .button-support, .proposal-show .supports .button-support {
  background: #612d62;
  color: white; }

/* line 226, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.proposal .supports .button-support:hover, .proposal-featured .supports .button-support:hover, .proposal-show .supports .button-support:hover {
  background: #78bbb1; }

/* line 228, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.proposal .supports abbr, .proposal-featured .supports abbr, .proposal-show .supports abbr {
  color: #333; }

/* line 230, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.proposal .supports .percentage, .proposal-featured .supports .percentage, .proposal-show .supports .percentage {
  color: #333; }

/* line 232, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.proposal .supports abbr[title], .proposal-featured .supports abbr[title], .proposal-show .supports abbr[title] {
  border-bottom-color: #333; }

/* line 235, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.enquiry .supports, .enquiry-featured .supports, .enquiry-show .supports {
  background: #ddd;
  border-color: #ddd;
  padding-bottom: 2rem;
  padding-top: 2rem; }

/* line 237, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.enquiry .supports .button-support, .enquiry-featured .supports .button-support, .enquiry-show .supports .button-support {
  background: #612d62;
  color: white; }

/* line 239, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.enquiry .supports .button-support:hover, .enquiry-featured .supports .button-support:hover, .enquiry-show .supports .button-support:hover {
  background: #78bbb1; }

/* line 241, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.enquiry .supports abbr, .enquiry-featured .supports abbr, .enquiry-show .supports abbr {
  color: #333; }

/* line 243, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.enquiry .supports .percentage, .enquiry-featured .supports .percentage, .enquiry-show .supports .percentage {
  color: #333; }

/* line 245, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.enquiry .supports abbr[title], .enquiry-featured .supports abbr[title], .enquiry-show .supports abbr[title] {
  border-bottom-color: #333; }

/* line 247, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
abbr, acronym {
  font-size: 100%;
  color: #333; }

/* line 249, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.tags a, .tag-cloud a {
  background: white;
  border: 1px solid #ddd;
  margin-right: 10px;
  margin-bottom: 0; }

/* line 252, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.sidebar .tags a, .sidebar .tag-cloud a, .sidebar .tag-cloud a {
  margin-bottom: 1rem; }

/* line 253, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.sidebar .button.radius {
  border-radius: 0;
  background: #78bbb1; }
  /* line 256, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .sidebar .button.radius:hover {
    background: #612d62; }

/* line 260, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.tags a:hover, .tag-cloud a:hover {
  background: white;
  color: #78bbb1; }

/* line 262, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.proposal-featured .panel .proposal-info a, .proposal .panel .proposal-info a {
  color: #B37EB4; }

/* line 266, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.enquiry-featured .panel .enquiry-info a, .enquiry .panel .enquiry-info a {
  color: #B37EB4; }

/* line 270, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.proposal-info a:hover, .debate-info a:hover, .medida-info a:hover, .law-info a:hover, .enquiry-info a:hover {
  color: #612d62 !important; }

/* line 271, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.in-favor .button.expand {
  padding: 0.8rem 2rem; }

/* line 272, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.tag-cloud a .label.info {
  background: #aaa; }

/* line 274, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.filters select, .search-results select {
  border-radius: 10px;
  background-color: #eee;
  border: 0;
  cursor: pointer; }

/* line 276, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
button.success, .button.success {
  background: #78bbb1; }

/* line 277, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
button.success:hover, .button.success:hover {
  background: #B37EB4; }

/* line 279, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.debate-show .votes {
  background: #ddd; }

/* line 283, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.tag-cloud h3 {
  text-transform: none; }

/* line 285, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.medida-new .icon-medidas, .medida-edit .icon-medidas {
  display: none; }

/* line 286, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.law-new .icon-laws, .law-edit .icon-laws {
  display: none; }

/* line 288, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.top-bar-section {
  top: 2rem; }

/* line 289, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.top-bar-section ul li:not(.has-form) a:not(.button) {
  line-height: 1rem;
  padding: 0.5rem 0.75rem;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid white; }

/* line 296, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.top-bar-section ul li:not(.has-form) a:not(.button):hover {
  line-height: 1rem;
  border: 1px solid white;
  text-decoration: none; }

/* line 302, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.top-bar-section ul li > a.button {
  margin-top: 0;
  top: 0; }

/* line 304, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.debate-new a, .debate-edit a, .proposal-new a, .proposal-show .document-link a, .proposal-show .video-link a, .enquiry-new a, .enquiry-show .document-link a, .enquiry-show .video-link a {
  color: #612d62; }

/* line 305, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.debate-new a:hover, .debate-edit a:hover, .proposal-new a:hover, .proposal-show .document-link a:hover, .proposal-show .video-link a:hover, .enquiry-new a:hover, .enquiry-show .document-link a:hover, .enquiry-show .video-link a:hover, .page .menu a:hover, .page .text a:hover {
  color: #78bbb1; }

/* line 306, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.page .text a, .page .menu a {
  color: #B37EB4; }

/* line 308, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.menu-programa {
  float: left;
  margin: 2em 0; }
  /* line 311, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .menu-programa > a {
    color: #612d62;
    font-weight: bold;
    float: left;
    margin-bottom: 1rem;
    text-align: left;
    padding-right: 2rem; }
    /* line 318, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
    .menu-programa > a:hover {
      color: #78bbb1; }

/* line 322, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.comments .comment .comment-body .comment-user.is-author {
  background: #ddd; }

/* line 324, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.comments .comment-children .comment-body .comment-user.is-author {
  background: #eee; }

/* line 326, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.comments .comment .comment-body p {
  margin-bottom: 1.5em; }

/* line 328, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.is-author {
  background: #78bbb1; }

/* line 330, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.js-add-comment-link, .verify-account .already-verified {
  color: #78bbb1; }

/* line 332, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.auth-page {
  background: #ddd; }
  /* line 334, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .auth-page a.back, .auth-page i {
    color: #612d62; }

/* line 337, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
footer {
  padding: 4rem 0 0; }
  /* line 339, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  footer .logo a {
    font-size: 1.35rem; }

/* line 343, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.admin .title-area {
  display: none; }

/* line 348, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.proposal-new .icon-proposals,
.enquiry-new .icon-enquiries,
.debate-new .icon-debates {
  display: none; }

/* line 351, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
[class*='bloque1-epi'], [class*='bloque2-epi'], [class*='bloque3-epi'],
[class*='bloque4-epi'], [class*='bloque5-epi'], [class*='bloque6-epi'] {
  display: none; }

/* line 357, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.condiciones-generales h2 {
  margin-top: 0.5rem; }

/* line 358, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.condiciones-generales h3 {
  font-size: 1rem;
  margin-top: 1rem; }

/* line 359, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.condiciones-generales strong {
  font-size: 1rem; }

/* line 362, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.f-dropdown li a {
  color: #612d62; }
  /* line 364, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .f-dropdown li a:hover {
    color: #78bbb1; }

/* line 367, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
#epi-bloque8.f-dropdown li {
  display: inline-block; }

/* line 369, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
#barra_legal_cookie {
  display: none;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  min-height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 99999; }

/* line 384, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.inner {
  width: 100%;
  position: absolute;
  padding-left: 5px;
  font-family: verdana;
  font-size: 12px;
  top: 30%; }

/* line 393, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.inner a.ok {
  padding: 4px;
  color: white;
  text-decoration: none; }
  /* line 397, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .inner a.ok:hover {
    color: #78bbb1; }

/* line 400, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.inner a.info {
  padding-left: 5px;
  text-decoration: none;
  color: white; }
  /* line 404, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .inner a.info:hover {
    color: #78bbb1; }

/* line 410, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.proposal-featured .supports .progress .meter, .proposal .supports .progress .meter,
.enquiry-featured .supports .progress .meter, .enquiry .supports .progress .meter,
ul.pagination li.current a:hover, ul.pagination li.current a:focus, ul.pagination li.current button:hover,
ul.pagination li.current button:focus {
  background: #78bbb1; }

/* line 419, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
ul.pagination li.current a,
ul.pagination li.current button,
.proposal-featured .supports .not-logged,
.proposal .supports .not-logged,
.enquiry-featured .supports .not-logged,
.enquiry .supports .not-logged,
.debate-featured .votes .not-logged,
.debate .votes .not-logged {
  background: #78bbb1; }

/* line 423, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.top-bar {
  height: 5rem; }

/* line 424, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.top-bar .name {
  float: left; }

/* line 426, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
.top-bar .toggle-topbar.menu-icon {
  margin-top: 0; }

/* line 428, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
#enquiries .enquiry .supports .progress, #enquiries .enquiry .supports .total-supports span {
  display: none; }

/************** RESPONSIVE ************/
@media screen and (max-width: 768px) {
  /* line 434, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .subnavigation a {
    margin-bottom: 1rem; } }

@media only screen {
  /* line 438, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .show-for-medium-up {
    display: block !important; } }

@media (min-width: 40em) {
  /* line 442, /Users/gabriel/Trabajos/Podemos/Desarrollo/participacion/app/assets/stylesheets/podemos.scss */
  .subnavigation a {
    margin-right: 1em; } }

/*# sourceMappingURL=podemos.css.map */
