<% if current_page?(new_user_session_path) %>
  <%= link_to t("omniauth.openid.sign_in"), user_omniauth_authorize_path(:openid), class: "button-openid button radius expand" %>

  <hr/>
<% elsif current_page?(new_user_registration_path) %>
  <%= link_to t("omniauth.openid.sign_up"), user_omniauth_authorize_path(:openid), class: "button-openid button radius expand" %>
  <p>Al hacer login con una red social, usted está aceptando los términos legales.</p>
  <hr/>
<% end %>
